<h3> Atividades </h3>


<div class="filter">
  <h3>Filtros:</h3>
</div>
<div class="filters">
  <div class="filter">
    <label for="statusTempo">Situação:</label>
    <select [(ngModel)]="statusTempoFilter" (ngModelChange)="applyFilters()" id="statusTempo" class="filter-select">
      <option value="">Todos</option>
      <option value="Em atraso">Em atraso</option>
      <option value="No prazo">No prazo</option>
    </select>
  </div>
  
  <div class="filter">
    <label for="statusAndamento">Status:</label>
    <select [(ngModel)]="statusAndamentoFilter" (ngModelChange)="applyFilters()" id="statusAndamento" class="filter-select">
      <option value="">Todos</option>
      <option value="Não iniciada">Não iniciada</option>
      <option value="Iniciada">Iniciada</option>
      <option value="Concluída">Concluída</option>
    </select>
  </div>

  <div class="filter">
    <label for="responsavel">Responsável:</label>
    <input type="text" [(ngModel)]="responsavelFilter" (ngModelChange)="applyFilters()" id="responsavel" class="filter-input">
  </div>
  
  <div class="filter">
    <label for="descricao">Descrição:</label>
    <input type="text" [(ngModel)]="descricaoFilter" (ngModelChange)="applyFilters()" id="descricao" class="filter-input">
  </div>


</div>

<div class="header">
  <button (click)="createTask()" class="btn btn-primary">+ Criar tarefa</button>
</div>


<table>
  <thead>
<tr>
      <th>Descrição</th>
      <th>Duração</th>
      <th>Data Início</th>
      <th>Data Fim</th>
      <th>Responsável</th>
      <th>Status</th>
      <th>Situação</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let atividade of filteredAtividades" [ngClass]="{'tarefa-pai': isTarefaPai(atividade)}">
      <td>{{ atividade.descricao }}</td>
      <td>{{ atividade.duracao }}</td>
      <td>{{ atividade.dataInicioEsperada | date:'dd/MM/yyyy' }}</td>
      <td>{{ atividade.dataFimEsperada | date:'dd/MM/yyyy' }}</td>
      <td>{{ atividade.responsavel?.nome }}</td>
      <td>{{ atividade.status_andamento }}</td>
      <td>{{ atividade.status_tempo }}</td>
      <td>
        <button (click)="editTask(atividade.id)" class="btn btn-edit">Editar</button>
      </td>
    </tr>
  </tbody>
</table>
