
<body>
    <div class="menu-bar">
        <a href="#">Logout</a>
    </div>
    
    <div class="container">
        <div class="sidebar">
            <a routerLink="/">Home</a>
            <a routerLink="/listaCronogramas">Cronogramas</a>
            <a href="/listaVistorias">Vistorias</a>
            <a href="/listaPlanosAcao">Plano de ação</a>
            <a href="#">Dashboard</a>
        </div>
        <div class="main-content">
            <router-outlet></router-outlet> <!-- Este é o router-outlet secundário -->
        </div>
    </div>
</body>