<div>
  <div *ngIf="isNew">
    <div class="tarefa-form">
    <h2>Criar Novo Cronograma</h2>
    <form (ngSubmit)="saveCronograma()">
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" [(ngModel)]="cronograma.titulo" name="titulo" required>

        <label for="dataInicio">Data prevista para o início:</label>
        <input 
          type="text" 
          id="dataInicio" 
          [(ngModel)]="cronograma.dataInicio" 
          name="dataInicio" 
          pattern="\d{2}/\d{2}/\d{4}" 
          placeholder="dd/mm/aaaa"
          required>

          <label for="dataInicio">Data prevista para o início:</label>
          <input 
            type="text" 
            id="dataInicio" 
            [(ngModel)]="cronograma.dataInicio" 
            name="dataInicio" 
            pattern="\d{2}/\d{2}/\d{4}" 
            placeholder="dd/mm/aaaa"
            required>

            <label for="duracao">Duração prevista (em dias):</label>
            <input 
              type="number" 
              id="duracao" 
              [(ngModel)]="cronograma.duracao" 
              name="duracao" 
              min="1" 
              required>
      </div>


      <div class="form-buttons">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

  <div *ngIf="!isNew">

    <h2>{{ cronograma.titulo }}</h2>
    <p><strong>Data Início:</strong> {{ cronograma.dataInicio | date:'dd/MM/yyyy' }}</p>
    <p><strong>Data Fim:</strong> {{ cronograma.dataFim | date:'dd/MM/yyyy' }}</p>
    <p><strong>Duração:</strong> {{ cronograma.duracao }} dias</p>
    <hr/>

    <app-lista-atividades [atividades]="atividades" [cronogramaId]="cronograma.id"> </app-lista-atividades>
   
   <hr/>
   <h3> Gantt </h3>
    <div id="ganttContainer" style="width: 100%; height: 400px;"></div>
  </div>
</div>
